@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inheri;
}

li {
  list-style: none;
}

@font-face {
  font-family: "UniSansHeavyCAPS";
  font-display: swap;
  src: url("../fonts/UniSansHeavyCAPS.woff") format("woff"), url("../fonts/UniSansHeavyCAPS.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.header {
  background: url("../img/header-bg.png") top no-repeat;
  min-height: 130px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 555555550;
  background-color: #fff;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0 20px 0;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header-top__burger {
  position: relative;
  z-index: 11;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: #068292;
  display: none;
}

.header-top__burger span {
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header-top__burger span:first-child {
  top: 10px;
}

.header-top__burger span:last-child {
  bottom: 10px;
}

.header-top__burger.active span {
  -webkit-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}

.header-top__burger.active span:first-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 19px;
}

.header-top__burger.active span:nth-child(2) {
  opacity: 0;
}

.header-top__burger.active span:last-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 19px;
}

.header-top__nav.active {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
}

.header-top__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header-top__list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  height: 27px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__link {
  color: #ffffff;
  font-family: 'Play', sans-serif;
  font-size: 14px;
  text-decoration: underline;
  line-height: 18px;
  position: relative;
  z-index: 1;
}

.header-top__link:hover::after {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: -1;
  left: -22px;
  top: -6px;
  width: calc(100% + 44px);
  height: calc(100% + 12px);
  background-color: #068292;
  padding: 0 22px;
  border-radius: 10px;
}

.header-top__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 190px;
          flex: 0 0 190px;
  text-align: center;
  padding: 26px 0 0 0;
}

.header-top__logo img {
  width: 130px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-top__phone {
  padding: 0 32px;
  border-right: 1px solid #ffffff;
  color: #ffffff;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}

.contacts-top__phone:last-child {
  border: none;
}

.contacts-top__phone span {
  display: block;
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.contacts-top__phone_icon {
  background: url("../img/call.png") left no-repeat;
}

.bottom-header__item {
  margin-right: 40px;
  color: #999999;
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.bottom-header__item:hover {
  color: #1ab9ce;
  -webkit-text-decoration: dotted;
          text-decoration: dotted;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__login span {
  display: inline-block;
  background: url("../img/user.png") left no-repeat;
  padding-left: 36px;
  line-height: 24px;
}

.item__register span {
  display: inline-block;
  background: url("../img/regis.png") left no-repeat;
  padding-left: 36px;
  line-height: 24px;
}

.item__mail span {
  display: inline-block;
  background: url("../img/mail.png") left no-repeat;
  padding-left: 36px;
  line-height: 24px;
  text-decoration: underline;
}

.item__callback span {
  display: inline-block;
  background: url("../img/call-back.png") left no-repeat;
  padding-left: 36px;
  line-height: 24px;
}

.item__workprograms {
  background: url("../img/calend.png") left no-repeat;
  padding-left: 36px;
  line-height: 24px;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}

.item__workprograms p,
.item__workprograms .abaut__list {
  font-weight: 400;
}

.item__basket {
  background: url("../img/basket.png") center no-repeat;
  background-size: contain;
  width: 39px;
  height: 39px;
  position: relative;
}

.item__basket span {
  position: absolute;
  right: -30px;
  top: 0;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 11px;
  border-radius: 20px;
  background-color: #f68038;
  height: 25px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
}

.aside-menu {
  background: url("../img/aside-bg.jpg") no-repeat;
  background-size: cover;
  background-position: 100% 100%;
  padding: 20px 0 0 0;
  position: relative;
  z-index: 5;
}

.aside-menu__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 21px 15px 21px;
}

.aside-menu__title {
  color: #ffffff;
  font-family: UniSansHeavyCAPS;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.aside-menu__burger {
  width: 36px;
  height: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  background-color: #068292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.aside-menu__burger span {
  width: 24px;
  height: 2px;
  background-color: #ffffff;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.aside-menu__burger::before,
.aside-menu__burger::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background-color: #ffffff;
}

.aside-menu__burger::before {
  top: 7px;
}

.aside-menu__burger::after {
  bottom: 8px;
}

.aside-menu__burger.active {
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.aside-menu__burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.aside-menu__burger.active::before {
  top: 16px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.aside-menu__burger.active::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 17px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.items-menu {
  display: none;
}

.items-menu.active {
  display: block;
}

.items-menu__list li {
  border-bottom: 1px solid #0da0b3;
  padding: 0 8px 0 0;
}

.items-menu__list li:hover {
  background-color: #098494;
}

.items-menu__link {
  color: #ffffff;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0 15px 22px;
}

.items-menu__link_hover {
  background: url("../img/arrow-aside.png") right no-repeat;
}

.aside-block__title {
  color: #dadada;
  font-family: "UniSansHeavyCaps";
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.aside-block__title:hover {
  color: #1ab9ce;
}

.aside-block__subtitle {
  color: #333333;
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  margin: 0 0 18px 0;
}

.aside-block__subtitle_active {
  color: #fd8322;
  display: block;
}

.aside-block__subtitle_active:hover {
  text-decoration: underline;
}

.aside-news {
  padding: 40px 0;
}

.aside-news__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 45px 0;
}

.aside-news__message span {
  color: #d8d8d8;
  font-size: 18px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.aside-news__message p,
.aside-news__message .abaut__list {
  padding: 0 10px;
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
}

.aside-feedback__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-feedback__message {
  margin: 0 0 30px 0;
}

.aside-feedback__message p,
.aside-feedback__message .abaut__list {
  color: #666666;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  padding-left: 35px;
  position: relative;
}

.aside-feedback__message p::before,
.aside-feedback__message .abaut__list::before {
  content: '”';
  color: #dadada;
  font-size: 48px;
  font-weight: 900;
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 0px;
}

.aside-feedback__message p:hover,
.aside-feedback__message .abaut__list:hover {
  background-color: #1ab9ce;
}

.aside-feedback__message p:hover::before,
.aside-feedback__message .abaut__list:hover::before {
  color: #64deee;
}

/*sub-menu*/

.menu-page__parent.active .items-submenu {
  left: 100%;
  opacity: 1;
  z-index: 1;
}

.items-submenu {
  width: 280px;
  height: 100%;
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  opacity: 0;
  border: 2px solid #098494;
  background-color: #ffffff;
}

.items-submenu__list {
  padding: 18px 0;
  border-bottom: 1px solid #dedede;
}

.items-submenu__list li {
  border: none;
  padding: 13px 0;
}

.items-submenu__list li:hover {
  background-color: #71c7d3;
}

.items-submenu__link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  padding: 13px 40px;
}

.items-submenu__link:hover {
  color: #ffffff;
}

.items-submenu__products {
  padding: 11px 25px 11px 25px;
}

.items-products {
  position: relative;
}

.items-products__lable {
  margin: 0 0 16px 0;
}

.items-products__lable span {
  padding: 4px 14px;
  border-radius: 20px;
  background-color: #fd8424;
  color: #ffffff;
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
}

.items-products__img {
  display: inline-block;
  margin: 0 0 10px 0;
  height: 147px;
}

.items-products__img img {
  width: 100%;
  height: 100%;
}

.items-products__name {
  color: #36949f;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}

.items-products__name:hover {
  text-decoration: underline;
}

.items-products__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

.items-products__price span {
  color: #333333;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
}

.items-products__basked {
  display: inline-block;
  background: url("../img/priducts-basket.png") center no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
}

.search {
  min-height: 39px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 20px 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.search__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f3f3f3;
  height: 39px;
  padding: 0 35px 0 44px;
  cursor: pointer;
}

.search__btn span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
  position: relative;
  font-size: 14px;
  font-weight: 300;
}

.search__btn span::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  background: url("../img/search.png") center no-repeat;
  width: 17px;
  height: 17px;
}

.search__btn span::after {
  content: '';
  position: absolute;
  right: -22px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  display: inline-block;
  background: url("../img/search-arrow.png") center no-repeat;
  width: 10px;
  height: 10px;
}

.search__btn.open span::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 35%;
}

.search__input {
  min-height: 100%;
  border: 2px solid #f2f2f2;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 24px;
}

.search__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 39px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f68038;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  padding: 0 23px;
  line-height: 18px;
  text-transform: uppercase;
}

.menu-search {
  z-index: 233;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 4px solid #f68038;
  display: none;
}

.menu-search.open {
  display: block;
}

.menu-search__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.menu-search__nav ul {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  border-right: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  padding: 15px 25px;
}

.menu-search__nav ul li {
  margin-bottom: 15px;
}

.menu-search__link {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px;
}

.menu-search__link:hover {
  text-decoration: underline;
}

.menu-search__checkbox {
  width: 1px;
  height: 1px;
  position: absolute;
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.menu-search__checkbox:checked + .menu-search__link {
  color: #f9a470;
}

.slider {
  position: relative;
  margin: 0 0 90px 0;
}

.gallery-top .swiper-container {
  width: 100%;
  height: auto;
}

.gallery-thumbs {
  width: 100%;
  position: absolute;
  bottom: -25px;
  left: 0;
}

.gallery-thumbs .swiper-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gallery-thumbs .swiper-wrapper .swiper-slide-active {
  position: relative;
}

.gallery-thumbs .swiper-slide {
  width: 55px;
  height: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55px;
          flex: 0 0 55px;
  border-radius: 50%;
  border: 4px solid #ffffff;
  cursor: pointer;
}

.gallery-thumbs .swiper-slide-visible {
  margin-right: 45px !important;
  overflow: hidden;
  position: relative;
  counter-increment: item;
}

.gallery-thumbs .swiper-slide-visible::before {
  content: counter(item);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #f68038;
  color: #fffefe;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.gallery-thumbs .swiper-slide-active {
  position: relative;
}

.gallery-thumbs .swiper-slide-thumb-active::before {
  opacity: 1;
}

.swiper-slide {
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

.swiper-slide__content {
  padding: 20px 20px 57px 20px;
}

.swiper-slide__title {
  color: #333333;
  font-size: 48px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 0 50px 0;
  line-height: 43px;
}

.swiper-slide__title span {
  color: #f68038;
  display: block;
}

.swiper-slide__subtitle {
  font-size: 14px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.swiper-slide__subtitle_text1 {
  color: #f68038;
  font-size: 18px;
}

.swiper-slide__subtitle_text2 {
  color: #fff;
  background-color: #919191;
  padding: 2px;
  display: inline-block;
}

.swiper-slide__subtitle_text3 {
  color: #979797;
}

.swiper-slide__bottom {
  text-align: center;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.swiper-slide__summ {
  display: block;
  font-size: 36px;
  margin: 0 0 20px 0;
}

.swiper-slide__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px;
  height: 33px;
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  border: 3px solid #ffff;
  border-radius: 15px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.swiper-slide__link span {
  background: url("../img/arrow-btn.png") right no-repeat;
  padding-right: 25px;
}

.swiper-slide__link:hover {
  color: #949292;
}

/*product*/

.products-body {
  position: relative;
}

.products-body__name {
  color: #dadada;
  font-family: "UniSansHeavyCAPS";
  font-size: 36px;
  margin: 0  0 25px  0;
  text-transform: uppercase;
  letter-spacing: 0.9px;
}

.products-body__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.products-body__pagination {
  color: #999999;
  font-size: 14px;
  font-weight: 500;
}

.products-body__pagination .swiper-pagination-current {
  color: #333333;
  font-size: 30px;
}

.products-body__pagination .swiper-pagination-total {
  font-size: 14px;
}

.products-body .products-body__next,
.products-body .products-body__prev {
  cursor: pointer;
}

.products-body__next {
  margin-left: 20px;
}

.products-body__prev {
  margin-right: 20px;
}

.products {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.items-products__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items-products__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 261px;
          flex: 0 0 261px;
  border: 1px solid #f5f5f5;
  margin: 0 3px 30px 3px;
}

.items-products__wrapper {
  padding: 42px 20px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.items-products__img {
  display: block;
  text-align: center;
  min-height: 233px;
  position: relative;
}

.items-products__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: contain;
     object-fit: contain;
}

.items-products__name {
  -webkit-box-flex: 1;
      -ms-flex: 1  1 auto;
          flex: 1  1 auto;
}

.items-products__name span {
  font-weight: 900;
}

.items-products__oldsumm {
  display: block;
  text-align: right;
  color: #999999;
  font-size: 18px !important;
  font-weight: 300;
  text-decoration: line-through;
}

/*brends*/

.brends {
  padding: 23px 0;
  border-top: 2px dashed #dadada;
  border-bottom: 2px dashed #dadada;
  margin-bottom: 32px;
}

.brends__body {
  overflow: hidden;
  position: relative;
  padding: 0 80px;
}

.brends__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brends__slide {
  text-align: center;
  margin: 0 10px;
}

.brends__slide img {
  max-width: 100%;
}

.brends__next,
.brends__prev {
  position: absolute;
  z-index: 5555;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
}

.brends__next {
  right: 0;
}

.brends__prev {
  left: 0;
}

/*abaut*/

.abaut {
  background: url("../img/abaut-bg.jpg") center no-repeat;
  background-size: cover;
}

.abaut__body {
  padding: 42px 0 62px 0;
  margin-bottom: 33px;
  position: relative;
}

.abaut__body::after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: -95px;
  display: block;
  background: url("../img/abaut-girls.png") no-repeat;
  width: 350px;
  height: 400px;
}

.abaut__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.abaut__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 30px;
}

.abaut__column p,
.abaut__column .abaut__list {
  margin: 0 0 24px 0;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  /* Text style for "К, омпания" */
  font-style: normal;
  letter-spacing: 0.3px;
}

.abaut__column:last-child {
  padding-top: 65px;
}

.abaut__title {
  color: #22b7ca;
  font-family: "UniSansHeavyCaps";
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 0 30px 0;
}

.abaut__list {
  margin-bottom: 5px !important;
}

.abaut__list:nth-child(4) span {
  background: 0;
}

.abaut__list span {
  background: url("../img/abaut-arrow.png") left 1px no-repeat;
  padding-left: 37px;
}

.footer-top {
  border-top: 2px dashed #dadada;
  border-bottom: 2px dashed #dadada;
  padding: 18px 0;
  margin: 0 0 38px 0;
}

.footer-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-top__menu span {
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.35px;
}

.footer-top__list {
  padding: 7.5px 0;
  margin-left: 35px;
}

.footer-top__link {
  color: #1ab9ce;
  font-size: 12px;
  font-weight: 300;
  line-height: 24px;
}

.footer-top__link:hover {
  color: #757575;
}

.footer-bottom__body {
  margin-bottom: 25px;
}

.footer-bottom__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer-bottom__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.bottom-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.bottom-footer__contacts {
  margin: 0 0 50px 0;
}

.bottom-footer__number {
  display: block;
  color: #333333;
  font-size: 14px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: 18px;
  padding-left: 40px;
  position: relative;
}

.bottom-footer__number_icon {
  display: inline-block;
}

.bottom-footer__number_icon::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 19px;
  height: 25px;
  background: url("../img/footer-icon.png") center no-repeat;
  background-size: cover;
  cursor: pointer;
}

.bottom-footer__title {
  text-align: center;
  color: #999999;
  font-size: 14px;
  font-weight: 900;
  line-height: 25px;
  text-transform: uppercase;
  margin: 0 0 27px 0;
}

.bottom-footer__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 40px;
}

.bottom-footer__img {
  margin: 0 7px 25px 7px;
}

.bottom-footer__img img {
  max-width: 100%;
}

.bottom-footer__cards {
  margin-right: 25px;
}

.bottom-footter__logo {
  margin: 0 0 25px 0;
  display: block;
}

.bottom-footter__logo img {
  width: 168px;
  height: 98px;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-social__row img {
  max-width: 280px;
  height: 237px;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-copywriter__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #dadada;
  padding: 12px 0;
}

.footer-copywriter__text {
  color: #999999;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  padding-right: 10px;
}

.footer-copywriter__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-copywriter__social li {
  margin-right: 15px;
}

.footer-copywriter__social li:last-child {
  margin-right: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  overflow: hidden;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 0;
  margin-top: 160px;
}

.page__aside {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 261px;
          flex: 0 0 261px;
  margin-right: 5px;
}

.page__content {
  min-width: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 846px;
          flex: 0 1 846px;
}

@media (max-width: 1110px) {
  .items-products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }
}

@media (max-width: 1105px) {
  .bottom-header__item {
    margin-right: 20px;
  }
}

@media (max-width: 1016px) {
  .items-products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 1000px) {
  .abaut__body:after {
    display: none;
  }
}

@media (max-width: 990px) {
  .item__login span {
    background: 0;
    padding-left: 10px;
  }

  .item__register span {
    background: 0;
    padding-left: 10px;
  }

  .item__mail span {
    background: 0;
    padding-left: 10px;
  }

  .item__callback span {
    background: 0;
  }

  .item__workprograms {
    background: 0;
    padding-left: 10px;
  }
}

@media (max-width: 980px) {
  .contacts-top__phone {
    padding: 0 10px 0 32px;
  }

  .contacts-top__phone:last-child {
    padding: 0 10px 0 10px;
  }
}

@media (max-width: 960px) {
  .header-top__burger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }

  .header-top__nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
    background: rgba(3, 36, 66, 0.87);
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
    overflow: scroll;
    padding: 70px 0 30px;
  }

  .header-top__list {
    margin-top: 30px;
  }

  .header-top__list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
    text-align: center;
  }

  .header-top__link {
    font-size: 18px;
    line-height: 20px;
  }
}

@media (max-width: 915px) {
  .gallery-thumbs .swiper-slide-visible {
    margin-right: 10px !important;
  }
}

@media (max-width: 890px) {
  .products-body__control {
    top: 80px;
    z-index: 5;
  }
}

@media (max-width: 860px) {
  .header {
    background: url("../img/header-bg.png") 0 0 no-repeat;
  }
}

@media (max-width: 850px) {
  .header-top__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 130px;
            flex: 0 0 130px;
    padding: 18px 0 0 0;
  }

  .contacts-top__items {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .contacts-top__phone {
    border-right: 0;
  }

  .contacts-top__phone:last-child {
    display: none;
  }

  .footer-bottom__row {
    display: block;
    text-align: center;
  }

  .bottom-footer {
    margin: 0 0 20px 0;
  }
}

@media (max-width: 820px) {
  .aside-menu {
    margin: 0 0 20px 0;
  }

  .aside-news {
    padding: 10px;
  }

  .items-products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 350px;
            flex: 0 0 350px;
  }

  .page {
    display: block;
  }
}

@media (max-width: 753px) {
  .items-products__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (max-width: 750px) {
  .contacts-top__phone {
    padding: 0 40px 0 0px;
  }

  .contacts-top__phone span {
    font-size: 0;
  }

  .contacts-top__phone_icon {
    font-size: 0;
  }

  .item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
  }
}

@media (max-width: 610px) {
  .bottom-footer__top {
    display: block;
  }
}

@media (max-width: 600px) {
  .abaut__column {
    padding: 0 10px;
  }

  .footer-top__menu {
    display: block;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-top__menu span {
    font-size: 18px;
  }

  .footer-top__list {
    margin-left: 0;
  }

  .footer-top__link {
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .menu-search {
    top: 110px;
  }
}

@media (max-width: 537px) {
  .search__btn {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .search__link {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 500px) {
  .gallery-thumbs .swiper-slide {
    width: 40px;
    height: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40px;
            flex: 0 0 40px;
  }

  .swiper-slide__title {
    font-size: 32px;
  }

  .abaut__row {
    display: block;
  }

  .abaut__column {
    padding: 0;
  }

  .abaut__column:last-child {
    padding-top: 0;
  }
}

@media (max-width: 460px) {
  .menu-search__nav {
    display: block;
    border: 1px solid #dddddd;
  }
}

@media (max-width: 400px) {
  .item__workprograms {
    display: none;
  }

  .bottom-footer__cards {
    margin-right: 5px;
  }
}